.DS_Store
node_modules/*
!node_modules/.gitkeep
dist/*
!dist/.gitkeep
bend/config/config_tables.php
bend/data/*
bend/data/session/*
!bend/data/session/.gitkeep
bend/log/*
bend/log/shutdown_handler/*
!bend/log/shutdown_handler/.gitkeep
/src/bend
/rev/*
!/rev/.gitkeep

