.conter {
    /*background-color: #fff;*/
    background-color: #e8d0c8;
    font-size: 32px;
    padding: 15px 15px 52px;
}
.fieldset .control-select {
    min-width: 120px;
    padding: 8px 32px 8px 12px;
    margin-left: 8px;
    font-size: 28px;
    background-color: #fff;
}
.fieldset label {
    padding-bottom: 1.0em;
}
.radio label:before, .checkbox label:before {
    width: 16px;
    height: 16px;
    top: 8px;
}
.btn {
    padding: 8px 12px;
}
.control-text {
    padding: 12px 16px;
    font-size: 32px;
}
.fieldset-group {
    font-size: 32px;
}
.fieldset-group-addon {
    font-size: 32px;
}
.control-lable {
    width: auto;
}
.radio label:before, .checkbox label:before {
    border-color: #222;
}
/* icon */
.icon.I-mail {
    width: 22px!important; height: 16px!important;
    background-size: 22px 16px!important;
    background-image: url(../i/example/icon_mail.png)!important;
}

.icon.I-car {
    background-image: url(../i/example/icon_delivery-white.png)!important;
    width: 33px!important;
    height: 32px!important;
    background-size: 33px 22px!important;
}

.icon.I-arrowToLeft{
    background-image: url(../i/example/icon_arrow-toleft.png)!important;
    width: 6px!important;
    height: 13px!important;
    background-size: 6px 13px!important;
}

.icon.I-free {
    background-image: url(../i/example/icon_free.png)!important;
    width: 29px!important;
    height: 32px!important;
    background-size: 29px 32px!important;
}

